
create environment file name as .env.development.local,.env.production.local
and place following configuration data.

REACT_APP_APIKEY=YOUR_APIKEY
REACT_APP_DELIVERY_TOKEN=YOUR_DELIVERY_TOKEN
REACT_APP_ENVIRONMENT=YOUR_PUBLISHING_ENVIRONMENT
# REACT_APP_REGION=(Only for eu region) 
#Eg-REACT_APP_REGION=eu